<nav class="navbar navbar-dark navbar-expand-lg bg-danger">
    <div class="container">
        <a class="navbar-brand ml-2" href="#"> 
            Awesome Movies<i class="far fa-grin-wink ml-2"></i>
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-2" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav-item" *ngIf="isLogin">
                    <a class="nav-link" (click)="logout()" type="button" href="#">Logout</a>
                </li>

            </ul>


        </div>

    </div>
</nav>
             

<app-body-login  *ngIf="!isLogin" [login]="login.bind(this)"></app-body-login>
<div class="bg-dark">
    <app-body-welcome  *ngIf="isLogin" [userName]="username" ></app-body-welcome>
    <app-body-movies  *ngIf="isLogin"></app-body-movies>
</div>
   