
.award{
    width: 58px;
    height: 58px;;

}
div.detail-container{
    position: relative;
}

.detail-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(52,58,64,0.8);
  }
  
  .detail-container:hover .detail-overlay {
    opacity: 1;
  }
  
  .detail-text {
    color: white;
    font-size: 1rem;
    position: absolute;
    top: 2%;
    left:2%;
    text-align: start;
  }